<h1>Appointment Info</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient Name</th>
      <th>Doctor Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @appointment.appointment_datetime.strftime("%A, %B %d, %Y at %T") %></td>
        <td><%= @appointment.patient.name　%></td>
        <td><%= @appointment.doctor.name %></td>
    </tr>
  </tbody>
</table>
